# Node (React frontend)
node_modules/
build/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python (Backend)
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.env
*.log
.DS_Store

# VSCode and system files
.vscode/
.idea/
*.swp
Thumbs.db
